.message
  .message__upper-info
    = message.user.name
  .message__text
    - if message.text.present?
      %p.lower-message__text
        = message.text
    - if message.image.present?
      = image_tag message.image.url