.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
      .side-header__box__menu
        = link_to "#" do
          = icon 'fas', 'edit'
        = link_to "#" do
          = icon 'fas','cog'
        -#   = 'fas fa-cog' 
  .groups
